body {
  font-family: sans-serif;
}
.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}
.main {
  font-size: 64px;
  color: #1f3f68;
}
.second {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}
.third {
  font-size: 36px;
  text-align: center;
}
.fourth {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}
.fifth {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.sending {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.site {
  border: 4px solid red;
}
.site_center {
  border: 4px solid purple;
  margin-left: 150px;
  margin-right: 150px;
}
.site__menu {
  border: 3px solid green;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}
.header {
  border: 3px solid turquoise;
  width: 50%;
  height: 350px;
  margin-bottom: 200px;
  box-sizing: border-box;
}
.info {
  border: 4px solid purple;
  margin-left: 154px;
  margin-right: 154px;
  margin-top: 40px;
}
.info_a {
  border: 3px solid green;
  margin-bottom: 20px;
}
.info_b {
  border: 3px solid rgb(214, 6, 186);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 350px;
  height: 400px;
}
.our_info {
  border: 4px solid rgb(173, 15, 15);
  margin-left: 154px;
  margin-right: 154px;
  margin-top: 10px;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
}
.info_bottom {
  border: 5px solid red;
  margin-top: 20px;
  background: rgb(4, 123, 192);
}
.info_bottom_up {
  border: 4px solid rgb(250, 241, 123);
  margin-left: 150px;
  margin-right: 150px;
}
.info_bottom_upp {
  border: 3px solid rgb(233, 136, 241);
  margin-top: 40px;
  margin-bottom: 20px;
  width: 450px;
}
.info_link {
  border: 4px solid rgb(134, 240, 120);
  margin-left: 150px;
  margin-right: 150px;
}
.info_law {
  border: 3px solid #ccc;
  margin-bottom: 40px;
}
.contact_us {
  border: 4px solid rgb(21, 165, 2);
  text-align: center;
  background: rgb(4, 123, 192);
}
.contact_centr {
  border: 3px solid purple;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contact_centr_up {
  border: 3px solid rgb(164, 223, 4);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.contact_sv {
  border: 3px solid rgb(240, 51, 51);
  margin-top: 10px;
  margin-bottom: 20px;
  width: 350px;
}
.contact_message {
  border: 3px solid rgb(38, 5, 223);
  margin-bottom: 20px;
  width: 350px;
}
.map_contact {
  border: 3px solid rgb(155, 91, 172);
}
.map_style {
  border: 3px solid rgb(27, 245, 38);
  margin: 0 auto;
  width: 659px;
}
