* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
body {
  font-family: sans-serif;
}
.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}
.text-main {
  width: 425px;
}
.main {
  font-size: 64px;
  color: #1f3f68;
  width: 510px;
}
.second {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}
.third {
  font-size: 36px;
  text-align: center;
}
.third-3 {
  width: 340px;
}
.fourth {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}
.fifth {
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.sending {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
/*.site {
}*/
/*.site_center {
  margin-left: 150px;
  margin-right: 150px;
}*/
.site__menu {
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.header {
  margin-top: 40px;
  width: 50%;
  height: 200px;
  margin-bottom: 200px;
  box-sizing: border-box;
}
.info {
  margin-left: 154px;
  margin-right: 154px;
  margin-top: 40px;
}
.info_a {
  display: flex;
  justify-content: space-around;
}
.info_b {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 359px;
  height: 400px;
}
.info_b2 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 359px;
  height: 400px;
}
.info_b3 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 359px;
  height: 400px;
}
.our_info {
  /*margin-left: 154px;
  margin-right: 154px;
  margin-top: 10px;
  padding: 16px;*/
  /*box-sizing: border-box;*/
  text-align: center;
  width: 495px;
  margin: 0 auto;
}
.info_bottom {
  margin-top: 20px;
  background: rgb(4, 123, 192);
}
.info_bottom_up {
  margin-left: 150px;
  margin-right: 150px;
}
.info_bottom_upp {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 450px;
}
.info_link {
  margin-left: 150px;
  margin-right: 150px;
}
.info_link-1 {
  display: flex;
  justify-content: space-between;
}
.info_law {
  margin-bottom: 40px;
}
.contact_us {
  text-align: center;
  background: rgb(4, 123, 192);
}
.contact_centr {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contact_centr_up {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}
.contact_sv {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 350px;
}
.contact_message {
  margin-bottom: 20px;
  width: 350px;
}
/*.map_contact {
}*/
.map_style {
  margin: 0 auto;
  width: 100%;
}
